.waves-effect{
  color: rgb(255, 255, 255);
  transition: color 500ms linear;
}
.waves-effect:hover{
  font-weight: 500;
  color: orange;
  transition: color 300ms linear;
}
.navbar-brand{
  font-family: 'Rouge Script', cursive; 
  font-size: 130px; 
  font-weight: normal; 
  line-height: 48px; 
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34;
  cursor: auto;
}
.navbar {
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(21, 68, 156));
  /* background-color: white; */
  margin-bottom: 10px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar-toggler {
  border-color: rgb(252, 0, 168)!important;
} 
.navbar-toggler:hover,.navbar-toggler:focus{
  border: none!important;
}
.active{
  font-weight: 500;
  color: orange!important;
  transition: color 300ms linear;
}


.navbar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 25px 0 0 25px;
    float: left;
    width: 70%;
    outline: none;
    background: #f1f1f1;
  }
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #21f33d;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 0 25px 25px 0;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    transition: background 300ms linear;
  }
  
  form.example button:hover {
    background: #0b7dda;
    transition: background 300ms linear;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605!important;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000!important;
      color: #fff!important;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px;
      border-radius: 50%; 
  }
