<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">About us</div>
          <p>Electronic gadgets are a piece of electronic equipment that has a particular purpose and modern gadgets are sources that help to simplify our daily tasks.</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+91 7278351878</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>arnab.gupta1878@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Our Products</div>
        <div><a href="/">Computer</a></div>
        <div><a href="/">Laptop</a></div>
        <div><a href="/">Mobile</a></div>
        <div><a href="/">Tablet</a></div>
        <div><a href="/">PC & Laptop Accessories</a></div>
        <div><a href="/">Mobile Accessories</a></div>
      </div>
      <div class="right box">
        <div class="topic">Subscribe us</div>
        <form action="#">
          <input type="text" placeholder="Enter email address">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2021 <a href="/">Iron Tech Zone</a> All rights reserved</p>
    </div>
  </footer>
</body>
</html>