<body onload="myfunction()">
    <div id="loader"></div>
    <script>
    var loader=document.getElementById('loader');
        function myfunction(){
          loader.style.display='none';
        }
        </script>