    <%-include('./Includes/header.ejs') %>
    <link rel="stylesheet" href="/CSS/pnf.css">
    <title>Page not found</title>
</head>
<%-include('./Includes/preloader.ejs') %>
    <h1>404</h1>
<p>Oops! Something is wrong.</p>
<a class="button" href="/"> Go back in <i class="fas fa-home"></i> page, is better.</a>
</body>
</html>